<div id="top">
  <div class="left">
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "Blog", "/blog/" %></li>
      <li><%= link_to "Tumblelog", "/tumblelog/" %></li>
      <li><%= link_to "Twitter", "http://twitter.com/maraby" %></li>
    </ul>
  </div>
  <div class="right">
    Search or Login here
  </div>
  <div class="clearer"></div>
</div>
